version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    merge-strategy: "rebase"
  - package-ecosystem: "bun"
    directory: "/"
    schedule:
      interval: "weekly"
    merge-strategy: "rebase"
    groups:
      minor-and-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
      eslint:
        patterns:
          - "eslint"
          - "@eslint/*"
      vitest:
        patterns:
          - "vitest"
          - "@vitest/*"
    ignore:
      - dependency-name: "@types/node"
        update-types:
          - "version-update:semver-major"
