name: Build

on: push

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Build with Node.js LTS and current version
        node-version: ["24.x", "25.x"]
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Build
        run: make
